<a class="destinacije" href="templates\daleke\dubai\dubai.html">    
    <div class="dest dal">
        <img src="img\dubai.jpg">
        <h2>Dubai</h2>
    </div>
</a> 
<a class="destinacije" href="templates\daleke\tajland\tajland.html">   
    <div class="dest dal">
        <img src="img\tajland.jpg">
        <h2>Tajland</h2>
    </div>
</a> 
<a class="destinacije" href="templates\daleke\kuba\kuba.html"> 
    <div class="dest dal">
        <img src="img\kuba.jpg">
        <h2>Kuba</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\maldivi\maldivi.html">  
    <div class="dest dal">
        <img src="img\maldivi.jpg">
        <h2>Maldivi</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\njujork\njujork.html">  
    <div class="dest dal">
        <img src="img\njujork.jpg">
        <h2>Njujork</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\bali\bali.html">  
    <div class="dest dal">
        <img src="img\bali.jpg">
        <h2>Bali</h2>
    </div>
</a>
     

<script src="jquery/side.js"></script>  