<a class="destinacije" href="templates\izleti\izleti.html">
    <img id="ret-but" src="nav-icons\return-button.png">	
</a>
<section class="wrap">
  	<img class="veca" src="img\mokra-veca.jpg">
    <h2 class="izl">Mokra Gora</h2>
    <p class="info">Jedinstvena pruga uskog koloseka Šarganska osmica, i etno selo Drvengrad, učinili su da Mokra Gora postane top turistička destinacija u Srbiji. Tome su doprineli i filmski festival Kustendorf, kao i novosagrađeni ski centar sa 4 staze i žičarama.
  	</p>
</section>

<script src="jquery/side.js"></script>