<a class="destinacije" href="templates\metropole\bec\bec.html">
    <div class="dest met">
        <img src="img\bec.jpg">
        <h2>B e č</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\amsterdam\amsterdam.html">  
    <div class="dest met">
        <img src="img\amsterdam.jpg">
        <h2>Amsterdam</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\atina\atina.html">  
    <div class="dest met">
        <img src="img\atina.jpg">
        <h2>Atina</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\barselona\barselona.html">  
    <div class="dest met">
        <img src="img\barselona.jpg">
        <h2>Barselona</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\london\london.html">  
    <div class="dest met">
        <img src="img\london.jpg">
        <h2>London</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\berlin\berlin.html">  
    <div class="dest met">
        <img src="img\berlin.jpg">
        <h2>Berlin</h2>
    </div>
</a>
 <a class="destinacije" href="templates\metropole\budimpesta\budimpesta.html">  
    <div class="dest met">
        <img src="img\budimpesta.jpg">
        <h2>Budimpešta</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\istanbul\istanbul.html">  
    <div class="dest met">
        <img src="img\istanbul.jpg">
        <h2>Istanbul</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\krakov\krakov.html">  
    <div class="dest met">
        <img src="img\krakov.jpg">
        <h2>Krakov</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\lisabon\lisabon.html">  
    <div class="dest met">
        <img src="img\lisabon.jpg">
        <h2>Lisabon</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\madrid\madrid.html">  
    <div class="dest met">
        <img src="img\madrid.jpg">
        <h2>Madrid</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\milano\milano.html">  
    <div class="dest met">
        <img src="img\milano.jpg">
        <h2>Milano</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\moskva\moskva.html">  
    <div class="dest met">
        <img src="img\moskva.jpg">
        <h2>Moskva</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\pariz\pariz.html">  
    <div class="dest met">
        <img src="img\pariz.jpg">
        <h2>Pariz</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\pitersburg\pitersburg.html">  
    <div class="dest met">
        <img src="img\pitersburg.jpg">
        <h2>Sankt Peterburg</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\prag\prag.html">  
    <div class="dest met">
        <img src="img\prag.jpg">
        <h2>Prag</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\rim\rim.html">  
    <div class="dest met">
        <img src="img\rim.jpg">
        <h2>Rim</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\sicilija\sicilija.html">  
    <div class="dest met">
        <img src="img\sicilija.jpg">
        <h2>Sicilija</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\solun\solun.html"> 
    <div class="dest met">
        <img src="img\solun.jpg">
        <h2>Solun</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\toskana\toskana.html">  
    <div class="dest met">
        <img src="img\toskana.jpg">
        <h2>Toskana</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\venecija\venecija.html">  
    <div class="dest met">
        <img src="img\venecija.jpg">
        <h2>Venecija</h2>
    </div>
</a>
    
<script src="jquery/side.js"></script>